<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huafu.android_study">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Study">
        <activity
            android:name=".CalculatorMainActivity"
            android:exported="false" />
        <activity
            android:name=".ImageTestActivity"
            android:exported="false" />
        <activity
            android:name=".ImageScaleActivity"
            android:exported="false" />
        <activity
            android:name=".ButtonEnableActivity"
            android:exported="false" />
        <activity android:name=".ButtonClickActivity" />
        <activity android:name=".ButtonStyleActivity" />
        <activity android:name=".ScrollViewActivity" />
        <activity android:name=".GridLayoutActivity" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".ViewGravityActivity" />
        <activity android:name=".ViewMarginActivity" />
        <activity android:name=".ViewBorderActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>